@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-orange: #e05a3e;
  --secondary-orange: #E8000A;
  --dark-blood-orange: #B50008;
  --dark-olive: #556b2f;
  --header-dark: #1a1a1a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-roboto);
  --font-mono: var(--font-geist-mono);
  --font-merriweather: var(--font-merriweather);
  --font-roboto: var(--font-roboto);
  --color-primary-orange: var(--primary-orange);
  --color-secondary-orange: var(--secondary-orange);
  --color-dark-blood-orange: var(--dark-blood-orange);
  --color-dark-olive: var(--dark-olive);
  --color-header-dark: var(--header-dark);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto), Arial, Helvetica, sans-serif;
}
